<div class="create-post">
  <div class="create-post-header">
    <div class="create-post-icon"></div>
    <div>
      <h1>Create New Post</h1>
      <p>Share your thoughts with the community</p>
    </div>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="submit()" class="create-form">
    <div class="form-group">
      <label for="userId" class="form-label">User ID:</label>
      <input
        name="userId"
        id="userId"
        type="number"
        formControlName="userId"
        class="form-input"
      />
      <div
        *ngIf="
          postForm.get('userId')?.invalid &&
          (postForm.get('userId')?.dirty || postForm.get('userId')?.touched)
        "
      >
        <small
          class="error"
          *ngIf="postForm.get('userId')?.errors?.['required']"
        >
          User ID is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="form-label">Title:</label>
      <input
        name="title"
        id="title"
        type="text"
        formControlName="title"
        class="form-input"
      />
      <div
        *ngIf="
          postForm.get('title')?.invalid &&
          (postForm.get('title')?.dirty || postForm.get('title')?.touched)
        "
      >
        <small
          class="error"
          *ngIf="postForm.get('title')?.errors?.['required']"
        >
          Title is required.
        </small>
        <small
          class="error"
          *ngIf="postForm.get('title')?.errors?.['minlength']"
        >
          Title must be at least 5 characters.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="body">Body:</label>
      <textarea
        name="body"
        id="body"
        formControlName="body"
        class="form-input"
      ></textarea>
      <div
        *ngIf="
          postForm.get('body')?.invalid &&
          (postForm.get('body')?.dirty || postForm.get('body')?.touched)
        "
      >
        <small class="error" *ngIf="postForm.get('body')?.errors?.['required']">
          Body is required.
        </small>
        <small
          class="error"
          *ngIf="postForm.get('body')?.errors?.['minlength']"
        >
          Body must be at least 10 characters.
        </small>
      </div>
    </div>
    <button type="submit" class="submit-button" [disabled]="loading || postForm.invalid">
      Create Post
    </button>
  </form>
  <app-display-error
    [error]="errorMessage"
    *ngIf="errorMessage"
  ></app-display-error>
  <div *ngIf="successMessage">{{ successMessage }}</div>
</div>
