<app-loader *ngIf="loading"></app-loader>
<app-display-error *ngIf="error" [error]="error"></app-display-error>
<br />
<br />

<div class="pagination-controls">
  <button
    class="previous-btn"
    (click)="prevPage()"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button
    class="next-btn"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>

<div *ngIf="!loading && !error" class="posts-grid">
  <app-post *ngFor="let post of pagedPosts" [post]="post"></app-post>
</div>

<div class="pagination-controls">
  <button
    class="previous-btn"
    (click)="prevPage()"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button
    class="next-btn"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
